@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

:root{
    --bege_estranho: #A68F63;
    --bege_claro: #D9C49C;
    --marrom_claro: #8C6B42;
    --bege_escuro: #BFA688;
    --marrom_escuro: #BFA688;

    --fonte-padrao: 'Philosopher', sans-serif;
    --fonte-generica: 'Courier New', Courier, monospace;
}
*{
    padding: 20px;
    border-radius: 10px;
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
}

header{
    min-height: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 4px 4px 2px black;

}
img{
    width: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.712);
}

a{
    color: white;

}

a:hover{
    background-color: #8C6B42;


}
body{
    background-color: var(--bege_claro);
    font-family: var(--fonte-padrao);
}

strong#text-title{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
}

main{
    background-color: var(--bege_escuro);
    box-shadow: 0px 0px, 10px, black;
    margin: 15px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em
}
footer{
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    text-align: center;
}